// Includes all variables used in the project.

// Fonts
$font-color-copy: hsla(0, 0%, 100%, 0.75);
$font-main-header: hsl(0, 0%, 100%);
$font-color-stats: hsla(0, 0%, 100%, 0.6);

// Color Pallete Main
$color-primary: hsl(277, 64%, 61%);
$color-secondary: hsl(244, 38%, 16%);
$color-bg: hsl(233, 47%, 7%);

// Gray Color Pallet
$color-gray-light: rgb(240, 240, 240);
$color-gray-mid: rgb(175, 175, 175);
$color-gray-dark: rgb(75, 75, 75);
