// Includes all variables used in the project.

// Fonts
$font-color-copy: #000;

// Color Pallete Main
$color-primary: #219ebc;
$color-secondary: #023047;
$color-tertiary: #8ecae6;

// Color Pallete Accents
$color-accent-1: #ffb703;
$color-accent-2: #fb8500;

// Gray Color Pallet
$color-gray-light: rgb(240, 240, 240);
$color-gray-mid: rgb(175, 175, 175);
$color-gray-dark: rgb(75, 75, 75);
